/* src/components/TaskList.css */

.task-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* Set the height to 100% of the viewport height */
}

.task-list-content {
    padding: 20px;
    width: 100%;
    /* Set the width to 100% to make it responsive */
    max-width: 1000px;
    /* Adjust the maximum width based on your design */
}

.task-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px dotted #ddd;
    border-radius: 8px;
}

.task-title {
    width: 35%;
}

.task-deadline {
    width: 35%;
}
.price {
    width: 15%;
}
.delete{
    width:15%;
}

.task-item td {
    border-right: 2px dashed white;
    border-bottom: 0.5px solid white;
    border-left: 2px dashed white;
    border-top: 0.5px solid white;
}

.task-header th {
    padding: 20px 0;
}

.nes-input {
    border: 2px solid #5facdf !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px #5facdf;
}