/* StudentPage.css */
.StudentPage {
    padding: 0 13px 13px 13px;
    font-family: 'Arial', sans-serif;
  }
  .FirstHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .NameSection,
  .CurrencySection {
    
    overflow: auto; 
  }

  .SubmittedTasksSection,
  .EarnedCurrencySection,
  .LeaderboardSection,
  .ShopItemsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: auto; 
  }
  
  .SubmittedTasksSection h3 {
    width: 150px;
  }

  .LeaderboardSection h3 {
    width: 150px;
  }

  .ShopItemsSection h3 {
    width: 150px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: brown; 
    color: white;
  }
  
  .SubmittedTasksSection table tr:nth-child(even),
  .EarnedCurrencySection table tr:nth-child(even),
  .LeaderboardSection table tr:nth-child(even),
  .ShopItemsSection table tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  button {
    background-color: brown; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:brown; 
  }
  .scroll {
    max-height: 300px;
    overflow: auto;
    display: block;
  }
  
  .sticky-head {
    position: sticky;
    top: 0;
  }